$font: "Poppins", sans-serif;
$text-color: #505050;
$heading-color: #212121;
$primary-color: #f53838;
$gray-color: #dde0e4;
$gray-light-color: #f8f8f8;
$gray-lighter-color: #ddd;
$blue-color: #3fd0d4;
$font-stify: "Satisfy", sans-serif;